[submodule "ml-lab"]
	path = ml-lab
	url = https://github.com/ale-knk/ml-lab
[submodule "ml-serve"]
	path = ml-serve
	url = https://github.com/ale-knk/ml-serve
[submodule "bike-rental-demand-pred"]
	path = bike-rental-demand-pred
	url = https://github.com/ale-knk/bike-rental-demand-pred.git
[submodule "genetic-feature-selector"]
	path = genetic-feature-selector
	url = https://github.com/ale-knk/genetic-feature-selector.git
